.calendar {
  &__container {
    margin: 1rem;
    height: 32rem;
    width: 53rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    user-select: none;
    overflow: hidden;
    &-maximized {
      margin: 0;
      height: 100%;
      width: 100%;
    }
  }
  &__content {
    display: flex;
    height: calc(100% - 27.2px);
  }
}
