@import "../../../../styles/colors";
.titlebar {
  &-dark {
    --bgcolor1: #{$bgColorDark1};
    --bgcolor2: #{$bgColorDark2};
    --textColor: #{$textColorDark};
  }
  &__container {
    border-radius: 4px 4px 0 0;
    // background: linear-gradient(var(--bgcolor1) 0%, var(--bgcolor2) 100%);
    backdrop-filter: blur(10px);
    background-color: rgba(63, 61, 61, 0.4);
    color: var(--textColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    // padding: 0.7rem 1rem;
    font-size: 1rem;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  &__icon {
    width: 1.75rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    & img {
      width: 100%;
      filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
    }
  }
  &__label {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    padding-left: 1rem;
    display: flex;
    align-items: center;
  }
  &__buttons {
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    border: none;
    background: transparent;
    width: 2rem;
    height: 100%;
    // min-width: 0.9rem;
    // min-height: 0.9rem;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &-minimize {
      padding-top: 0.1rem;
      & img {
        width: 50%;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
      }
    }
    &-maximize {
      padding-top: 0.1rem;
      & img {
        width: 40%;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
      }
    }
    &-hide {
      padding-top: 0.1rem;
      & img {
        width: 30%;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
      }
    }
    &-close {
      &:hover {
        background-color: #e95620ee;
      }
      & img {
        width: 40%;
      }
    }
  }
}
